<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="atd.spring" level="error" />
    <logger name="ch.qos.logback.core.joran" level="error" />
    <logger name="ch.qos.logback.classic.LoggerContext" level="error" />
    <logger name="org.springframework.core " level="error" />
    <logger name="org.springframework.beans" level="error" />
    <logger name="org.springframework.context" level="error" />
    <logger name="org.springframework.transaction" level="error" />
    <logger name="org.springframework.web" level="error" />
    <logger name="org.springframework.test" level="error" />
    <logger name="org.springframework.boot.test" level="error" />
    <logger name="org.hibernate" level="error" />
</configuration>
